<div class="app-container">
  <ng-dropdown dTitle="Custom Header" [disabled]="true" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [editable]="true" [data]="dummyData" [filter]="true" selectedOption="karan" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [editable]="true" [data]="dummyData" [filter]="true" [selectedOption]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
</div>
