<div class="app-container">
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
  <ng-dropdown dTitle="Custom Header" [data]="dummyData" [filter]="true" [(selectedOption)]="dummyOption" (selectedOptionChange)="dummyChange($event)"></ng-dropdown>
</div>
