.ng-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 10px;
}
.ng-dropdown .ng-dropdown__title {
  padding-bottom: 5px;
}
.ng-dropdown .ng-dropdown__button {
  background: white;
  border: 1px solid #C9C9C9;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 18px;
}
.ng-dropdown .ng-dropdown__button span, .ng-dropdown__container>li a span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.ng-dropdown .ng-dropdown__button img {
  height: 10px;
  user-select: none;
}
.ng-dropdown .ng-dropdown__button input,.ng-dropdown .ng-dropdown__container li input.ng-dropdown__container--editable {
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ng-dropdown .ng-dropdown__button.disabled {
  pointer-events: none;
  opacity: 0.7;
}
.ng-dropdown .ng-dropdown__container {
  display: flex;
  flex-direction: column;
  background: white;
  list-style-type: none;
  border: 1px solid #C9C9C9;
  position: fixed;
  left: -10000px;
  outline: none;
  box-sizing: border-box;
  z-index: 100000;
  padding: 0;
  margin: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.ng-dropdown .ng-dropdown__container:focus {
  left: 0;
}
.ng-dropdown .ng-dropdown__container:focus + .ng-dropdown__button {
  pointer-events: none;
}
.ng-dropdown .ng-dropdown__container li:hover {
  background-color: #6FBBFF;
  color: white;
}
.ng-dropdown .ng-dropdown__container>li:first-child, .ng-dropdown__container--list>li:first-child {
  position: fixed;
  background-color: white;
}
.ng-dropdown .ng-dropdown__container>li:first-child a, .ng-dropdown__container--list>li:first-child a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ng-dropdown .ng-dropdown__container>li:first-child a img, .ng-dropdown__container--list>li:first-child a img {
  height: 10px;
}
.ng-dropdown .ng-dropdown__container>li:first-child:hover, .ng-dropdown__container--list>li:first-child:hover {
  color: initial;
}
.ng-dropdown .ng-dropdown__container li a,.ng-dropdown__container--list>li:first-child li a {
  padding: 0 10px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  flex: 1;
  align-items: center;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.ng-dropdown .ng-dropdown__container li input.ng-dropdown__container--list__filter {
  width: 100%;
  padding: 0 9px;
  height: 22px;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}

.ng-dropdown .ng-dropdown__container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.ng-dropdown__container--list__sublist li:first-child {
  position: initial;
}
